################################################################
# baidu
# get key - https://console.bce.baidu.com/ai
# doc - http://ai.baidu.com/docs#/TTS-Online-Python-SDK
################################################################
APP_ID = 'xxxxx'
API_KEY = 'xxxx'
SECRET_KEY = 'xxxxxxx'
